* {

	font-family: Verdana;
	color: white;

}
body {

	background-color: #5589f2;

}
a {

	text-decoration: none;
	color: #a2c4e8;

}
.button {

	background-color: #5485ba;
	padding: 4px 5px;
	font-size: 40px;
	border-radius: 7px;
	position: fixed;

}
#home {

	top: 10px;
	left: 10px;

}
#about {

	top: 10px;
	left: 145px;

}
img {

	width: 100px;
	height: 50px;

}

.main {

	font-size: 30px;
	position: relative;
	top: 200px;

}
#copyright {

	position: relative;
	top: 900px;
	background-color: gray;
	padding: 10px 20px;
	border-radius: 10px;

}




